<h1>fooooo’fooooo fooooo fooooo fooooo fooooo fooooo</h1>
<a name="fooooo-fooooo"></a>
<h2>fooooo fooooo</h2>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo <a href="#id1">`</a>fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo%fooooo%fooooo&gt;`fooooo.
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<dl>
<dt>fooooo fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo</dt>
<dd>fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo,
fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</dd>
<dt>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo'fooooo fooooo fooooo fooooo fooooo-fooooo “fooooo”
fooooo.</p>
<p>fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<p>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo?
fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo?
fooooo.  fooooo fooooo fooooo?</p>
<p>fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
</dd>
<dt>fooooo fooooo fooooo</dt>
<dd>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
<a href="#id3">`</a>fooooo fooooo &lt;fooooo://fooooo.fooooo.fooooo/fooooo/&gt;`fooooo.  fooooo
fooooo-fooooo fooooo fooooo fooooo fooooo fooooo “fooooo fooooo”
fooooo fooooo fooooo fooooo fooooo fooooo fooooo “fooooo”.  fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo <a href="#id5">`</a>fooooo fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo/fooooo&gt;`fooooo.</p>
</dd>
<dt>fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo.</dd>
<dt>fooooo fooooo fooooo fooooo fooooo</dt>
<dd>
<p>fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo (fooooo,
fooooo, fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
fooooo) fooooo fooooo fooooo fooooo fooooo.</p>
</dd>
<dt>fooooo fooooo fooooo</dt>
<dd>
<p>fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<ul>
<li>fooooo fooooo, fooooo fooooo fooooo.fooooo fooooo fooooo.fooooo, fooooo fooooo fooooo fooooo.</li>
<li>fooooo fooooo, fooooo fooooo fooooo.fooooo.fooooo fooooo fooooo.fooooo.fooooo, fooooo fooooo–fooooo fooooo fooooo fooooo.</li>
<li>fooooo fooooo, fooooo fooooo fooooo.fooooo.fooooo.fooooo fooooo fooooo.fooooo.fooooo.fooooo, fooooo fooooo fooooo fooooo
fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo.</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <a href="#id7">`</a>fooooo fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo/fooooo&gt;`fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</li>
</ul>
<p>fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo;
fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo
fooooo fooooo:</p>
<ul>
<li>fooooo fooooo, fooooo fooooo fooooo.fooooo.fooooo, fooooo.fooooo.fooooo, fooooo.fooooo.fooooo, fooooo fooooo–fooooo
fooooo fooooo fooooo.</li>
<li>fooooo fooooo, fooooo fooooo fooooo.fooooo.fooooo, fooooo.fooooo.fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo.</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <a href="#id9">`</a>fooooo fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo/fooooo&gt;`fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</li>
</ul>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo,
fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo.</p>
</dd>
</dl>
<a name="fooooo-fooooo-fooooo-fooooo"></a>
<h2>fooooo fooooo fooooo fooooo</h2>
<p>fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo.</p>
<dl>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>“fooooo fooooo”.</dd>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</dt>
<dd>
<p>fooooo fooooo fooooo fooooo fooooo`fooooo fooooo fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo ``fooooo-fooooo-fooooo`.  fooooo fooooo fooooo
fooooo fooooo fooooo fooooo:</p>
<pre>
<code># fooooo fooooo fooooo fooooo fooooo
fooooo fooooo
# fooooo fooooo fooooo’fooooo fooooo fooooo
fooooo fooooo fooooo
# fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo/fooooo

# fooooo fooooo fooooo fooooo
fooooo fooooo fooooo-fooooo-fooooo fooooo

# fooooo fooooo fooooo
fooooo fooooo fooooo-fooooo-fooooo</code>
</pre>
</dd>
</dl>
<p>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<blockquote>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo “fooooo” fooooo fooooo fooooo fooooo
fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo
fooooo:</p>
<ul>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo (<a href="#id11">`</a>fooooo fooooo
fooooo`fooooo) fooooo fooooo fooooo fooooo fooooo fooooo fooooo (<a href="#id13">`</a>fooooo
fooooo`fooooo)!</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <a href="#id15">`</a>fooooo fooooo`fooooo.</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo!</li>
</ul>
</blockquote>
<dl>
<dt>fooooo.  fooooo fooooo fooooo fooooo’fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>
<p>fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo fooooo fooooo-fooooo-fooooo</code>
</pre>
<p>fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo
fooooo fooooo <a href="mailto:fooooo@fooooo.fooooo">fooooo@fooooo.fooooo</a> fooooo fooooo fooooo fooooo.</p>
</dd>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>fooooo fooooo (fooooo) fooooo, <a href="#id17">`</a>fooooo`fooooo. fooooo fooooo fooooo fooooo fooooo,
fooooo'fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo.</dd>
</dl>
<p>fooooo.  fooooo fooooo fooooo fooooo “fooooo fooooo” fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:
fooooo fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo fooooo fooooo “fooooo
fooooo”) fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo
fooooo fooooo fooooo “fooooo fooooo”).</p>
<a name="fooooo-fooooo-fooooo"></a>
<h3>fooooo fooooo fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo
fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>-fooooo</code> fooooo:</p>
<pre>
<code>fooooo fooooo fooooo-fooooo-fooooo-fooooo fooooo-fooooo-fooooo
fooooo fooooo fooooo-fooooo-fooooo-fooooo</code>
</pre>
<dl>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo <a href="#id19">`</a>fooooo fooooo</dt>
<dd>&lt;fooooo://fooooo-fooooo.fooooo/fooooo/fooooo/fooooo/fooooo-fooooo-fooooo-fooooo&gt;`fooooo.</dd>
</dl>
<p>fooooo.  fooooo fooooo’fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo fooooo fooooo-fooooo-fooooo-fooooo</code>
</pre>
<p>fooooo.  fooooo fooooo fooooo fooooo “fooooo fooooo” fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo <code>-fooooo</code> fooooo, fooooo fooooo fooooo fooooo
fooooo fooooo`fooooo.  fooooo fooooo, fooooo’fooooo fooooo fooooo fooooo fooooo fooooo
fooooo, fooooo fooooo fooooo `-fooooo`` fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.</p>
<a name="id21"></a>
<h3>fooooo fooooo fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo
“fooooo” fooooo.  fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo, fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo’fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo’fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo’fooooo fooooo fooooo
fooooo’fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo “fooooo fooooo” fooooo fooooo
fooooo fooooo’fooooo fooooo fooooo “fooooo fooooo” fooooo fooooo <code>fooooo</code> fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo’fooooo fooooo fooooo
“fooooo-fooooo-fooooo” fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo.  fooooo’fooooo fooooo fooooo
<code>fooooo</code> fooooo fooooo fooooo “fooooo” fooooo.</p>
<p>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo
fooooo fooooo fooooo
fooooo fooooo fooooo/fooooo</code>
</pre>
<p>fooooo.  fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo fooooo-fooooo-fooooo-fooooo</code>
</pre>
<p>fooooo.  fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>  fooooo fooooo fooooo

fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo!</code>
</pre>
<dl>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>
<p>fooooo, fooooo:</p>
<pre>
<code>fooooo fooooo fooooo
fooooo fooooo --fooooo-fooooo fooooo-fooooo-fooooo-fooooo</code>
</pre>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo:</p>
<pre>
<code>fooooo fooooo fooooo
fooooo fooooo --fooooo-fooooo fooooo-fooooo-fooooo-fooooo</code>
</pre>
</dd>
</dl>
<p>fooooo.  fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo fooooo fooooo</code>
</pre>
<p>fooooo.  fooooo fooooo fooooo fooooo:</p>
<pre>
<code>  fooooo fooooo fooooo :fooooo-fooooo-fooooo :fooooo-fooooo-fooooo-fooooo

fooooo fooooo fooooo fooooo (fooooo ``-fooooo`` fooooo fooooo fooooo fooooo
fooooo fooooo fooooo)::

  fooooo fooooo -fooooo fooooo-fooooo-fooooo fooooo-fooooo-fooooo-fooooo

fooooo fooooo  ``fooooo fooooo`` fooooo fooooo fooooo fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo ``-fooooo fooooo/fooooo-fooooo-fooooo`` fooooo fooooo.</code>
</pre>
<dl>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo fooooo fooooo fooooo fooooo</dt>
<dd>
<p>fooooo fooooo fooooo fooooo (fooooo.fooooo.  <code>fooooo.fooooo.fooooo</code>),  <a href="#id22">`</a>fooooo`fooooo fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo'fooooo fooooo fooooo fooooo'fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
<a href="#id24">`</a>fooooo fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo/fooooo&gt;`fooooo
fooooo fooooo.</p>
</dd>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo</dt>
<dd>fooooo fooooo fooooo fooooo “fooooo fooooo” fooooo fooooo fooooo fooooo fooooo
fooooo (fooooo fooooo fooooo fooooo fooooo fooooo).  fooooo fooooo fooooo fooooo fooooo "fooooo fooooo
fooooo", fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo'fooooo fooooo fooooo fooooo.</dd>
</dl>
<a name="id26"></a>
<h3>fooooo fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo fooooo fooooo fooooo'fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
<code>fooooo</code> fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo — fooooo fooooo-fooooo fooooo — fooooo <code>fooooo</code> fooooo fooooo fooooo fooooo
fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo fooooo fooooo fooooo, fooooo fooooo'fooooo fooooo fooooo fooooo fooooo!</p>
<p>fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo fooooo fooooo
fooooo, fooooo fooooo, <code>fooooo.fooooo.fooooo</code>.  fooooo fooooo fooooo, fooooo fooooo fooooo
<code>fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, <code>fooooo.fooooo.fooooo.fooooo</code>, fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo.fooooo.fooooo</code> fooooo.</p>
<p>fooooo fooooo fooooo <code>fooooo.fooooo.fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo
fooooo fooooo fooooo <code>fooooo.fooooo.fooooo</code> fooooo fooooo fooooo <code>fooooo.fooooo.fooooo.fooooo</code> fooooo.  fooooo fooooo fooooo,
fooooo <code>fooooo.fooooo.fooooo</code> fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo.fooooo.fooooo.fooooo</code>.</p>
<a name="id27"></a>
<h3>fooooo fooooo fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo</code>.</p>
<p>fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo
fooooo fooooo:</p>
<ul>
<li>fooooo fooooo fooooo fooooo fooooo fooooo</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo</li>
</ul>
<p>fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
(fooooo fooooo fooooo fooooo fooooo fooooo).  fooooo <a href="#id28">`</a>fooooo fooooo`fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo
fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.  fooooo, fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.</p>
<p>fooooo: fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo; fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo-fooooo fooooo fooooo.</p>
<dl>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo</dt>
<dd>fooooo <code>fooooo.fooooo.fooooo.fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo (fooooo) fooooo fooooo
fooooo fooooo <code>fooooo.fooooo.fooooo</code>.</dd>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo</dt>
<dd>
<p>fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo fooooo
fooooo fooooo-fooooo -fooooo fooooo</code>
</pre>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo
fooooo fooooo fooooo <code>fooooo --fooooo</code> fooooo fooooo.  fooooo “<code>--fooooo</code>” fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo:</p>
<pre>
<code>fooooo fooooo --fooooo fooooo fooooo^ fooooo-fooooo</code>
</pre>
<p>fooooo <code>fooooo</code> fooooo fooooo fooooo <code>fooooo.fooooo.fooooo</code>, <code>fooooo</code> fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo (fooooo fooooo fooooo <code>^</code> fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo) fooooo <code>fooooo-fooooo</code> fooooo fooooo fooooo.</p>
</dd>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>fooooo fooooo.</dd>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo,</dt>
<dd>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo.
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<p>fooooo fooooo <code>fooooo.fooooo.fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo'fooooo fooooo fooooo
fooooo fooooo fooooo <code>fooooo.fooooo.fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo.</p>
</dd>
<dt>fooooo.  fooooo fooooo fooooo, fooooo <a href="#id30">`</a>fooooo`fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>fooooo.</dd>
</dl>
<a name="id32"></a>
<h2>fooooo fooooo</h2>
<p>fooooo fooooo <a href="#id33">`</a>fooooo &lt;fooooo://fooooo-fooooo.fooooo/&gt;`fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo <code>fooooo.fooooo.fooooo</code> fooooo fooooo
<code>/fooooo/fooooo</code> fooooo.</p>
<a name="id35"></a>
<h3>fooooo fooooo fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo-fooooo fooooo, fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo fooooo@fooooo.fooooo.fooooo:/fooooo/fooooo/fooooo-fooooo.fooooo</code>
</pre>
<p>(fooooo fooooo fooooo fooooo fooooo fooooo fooooo).</p>
<p>fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo-fooooo fooooo!  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo fooooo fooooo fooooo
fooooo, fooooo fooooo!):</p>
<pre>
<code>fooooo fooooo fooooo.fooooo "fooooo fooooo. fooooo"
fooooo fooooo fooooo.fooooo fooooo@fooooo.fooooo</code>
</pre>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo --fooooo fooooo.fooooo "fooooo fooooo. fooooo"
fooooo fooooo --fooooo fooooo.fooooo fooooo@fooooo.fooooo</code>
</pre>
<a name="fooooo"></a>
<h3>fooooo</h3>
<p>fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo
fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo, fooooo
<code>fooooo-fooooo-fooooo-fooooo-fooooo</code> fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <a href="#id36">`</a>#fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo&gt;`fooooo.</p>
<p>fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo:</p>
<ul>
<li>fooooo fooooo (-) fooooo fooooo fooooo fooooo fooooo fooooo.</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</li>
</ul>
<p>fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo “fooooo fooooo” fooooo
fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo <code>-fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo <code>-fooooo</code> fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo.  fooooo fooooo fooooo fooooo <code>-fooooo</code> fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>-fooooo</code>
fooooo.</p>
<a name="id38"></a>
<h3>fooooo fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo’fooooo fooooo fooooo
fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo fooooo fooooo fooooo,
fooooo fooooo fooooo fooooo fooooo) fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo (fooooo
fooooo fooooo fooooo fooooo fooooo fooooo-fooooo).  fooooo fooooo fooooo fooooo fooooo
fooooo fooooo, fooooo fooooo fooooo fooooo–fooooo fooooo.  fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo fooooo fooooo fooooo).  fooooo <a href="#id39">`</a>fooooo
fooooo fooooo fooooo fooooo fooooo &lt;fooooo://fooooo.fooooo/fooooo/fooooo/fooooo/fooooo-fooooo-fooooo-fooooo-fooooo-fooooo.fooooo&gt;`fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo <code>fooooo</code>
fooooo <code>fooooo fooooo --fooooo</code>; fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo).  fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo–fooooo fooooo fooooo fooooo fooooo (fooooo) fooooo fooooo fooooo
fooooo fooooo fooooo fooooo (fooooo) fooooo'fooooo fooooo fooooo, fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo #fooooo</code> fooooo fooooo fooooo fooooo fooooo
fooooo.  fooooo <a href="#id41">`</a>fooooo fooooo fooooo fooooo fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo#fooooo-fooooo-fooooo-fooooo-fooooo&gt;`fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.  fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo fooooo) fooooo:</p>
<pre>
<code>fooooo fooooo.fooooo fooooo fooooo @fooooo

fooooo fooooo fooooo fooooo fooooo fooooo.fooooo fooooo fooooo fooooo
fooooo fooooo.  fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo,
fooooo fooooo fooooo fooooo fooooo fooooo:

    fooooo fooooo(fooooo) fooooo fooooo:
        fooooo.fooooo(fooooo)

fooooo.fooooo fooooo fooooo fooooo fooooo fooooo, fooooo
fooooo'fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.

fooooo #fooooo</code>
</pre>
<a name="id43"></a>
<h3>fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo fooooo-fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo@fooooo.fooooo</code> fooooo fooooo.
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo, fooooo-fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo-fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo “fooooo fooooo” fooooo
fooooo fooooo fooooo fooooo, fooooo “fooooo fooooo” fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
<code>fooooo fooooo fooooo-fooooo-fooooo fooooo-fooooo-fooooo-fooooo</code>.</p>
<a name="id44"></a>
<h2>fooooo fooooo</h2>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<a name="id45"></a>
<h3>fooooo</h3>
<p>fooooo fooooo, fooooo fooooo fooooo’fooooo <a href="#id46">`</a>fooooo fooooo fooooo fooooo fooooo fooooo fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo-fooooo/&gt;`fooooo fooooo fooooo fooooo, fooooo
fooooo <a href="#id48">`</a>fooooo fooooo fooooo fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo-fooooo/&gt;`fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<dl>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo</dt>
<dd>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.</dd>
<dt>fooooo.  fooooo’fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>
<p>fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo(fooooo, fooooo, fooooo)</code>
</pre>
<p>fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo, fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo(fooooo,
              fooooo,
              fooooo,
              fooooo)</code>
</pre>
<p>fooooo:</p>
<pre>
<code>fooooo = [fooooo, fooooo, fooooo, fooooo, fooooo, fooooo, fooooo, fooooo, fooooo, fooooo
              fooooo, fooooo, fooooo, fooooo, fooooo]</code>
</pre>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo
fooooo fooooo fooooo:</p>
<pre>
<code>fooooo(
    fooooo,
    fooooo,
    fooooo,
)</code>
</pre>
<p>fooooo:</p>
<pre>
<code>fooooo = [
    fooooo,
    fooooo,
    fooooo,
]</code>
</pre>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
</dd>
</dl>
<p>fooooo.  fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo.fooooo fooooo fooooo

fooooo fooooo.fooooo fooooo (
     fooooo,
     fooooo,
     fooooo,
)</code>
</pre>
<dl>
<dt>fooooo.  fooooo fooooo fooooo-fooooo.fooooo fooooo fooooo, fooooo fooooo fooooo fooooo</dt>
<dd>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo
fooooo, fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo(fooooo)
fooooo(fooooo,
              fooooo)
fooooo(
    fooooo
)
fooooo(
    fooooo,
    fooooo
)</code>
</pre>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
(fooooo fooooo’fooooo fooooo fooooo fooooo fooooo’fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo).</p>
</dd>
</dl>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  <code>fooooo.fooooo</code> fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo <a href="#id50">`</a>fooooo &lt;fooooo://fooooo.fooooo.fooooo&gt;`fooooo,
<a href="#id52">`</a>fooooo &lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/&gt;`fooooo,
fooooo <a href="#id54">`</a>fooooo &lt;fooooo://fooooo-fooooo.fooooo/&gt;`fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo
fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>$ fooooo -fooooo fooooo fooooo --fooooo --fooooo fooooo
$ fooooo -fooooo fooooo fooooo --fooooo --fooooo fooooo
$ fooooo -fooooo fooooo fooooo --fooooo --fooooo fooooo</code>
</pre>
<p>fooooo <code>fooooo-fooooo</code> fooooo fooooo fooooo <code>fooooo</code>
fooooo-fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo-fooooo</code> fooooo
fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo
<code>fooooo</code> fooooo <code>~/.fooooo/fooooo</code>, fooooo <code>fooooo</code> fooooo fooooo
fooooo fooooo fooooo fooooo fooooo. fooooo fooooo, fooooo fooooo fooooo fooooo
fooooo fooooo fooooo (<code>fooooo fooooo-fooooo</code>, <code>fooooo fooooo</code>, <code>fooooo
fooooo</code>, <code>fooooo fooooo/fooooo/fooooo-fooooo</code>, fooooo <code>fooooo fooooo/fooooo/fooooo-fooooo</code>)
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo <a href="#id56">`</a>fooooo fooooo fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo/fooooo&gt;`fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo, fooooo fooooo fooooo
&lt;fooooo://fooooo.fooooo/fooooo-fooooo/fooooo&gt;`fooooo fooooo fooooo
``fooooo` fooooo <code>fooooo</code> fooooo fooooo fooooo fooooo.</p>
<a name="id58"></a>
<h2>fooooo fooooo</h2>
<p>fooooo fooooo fooooo fooooo &lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/&gt;`fooooo fooooo fooooo fooooo
fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo ``fooooo` fooooo
fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<dl>
<dt><code>fooooo fooooo</code></dt>
<dd>fooooo fooooo fooooo fooooo fooooo fooooo fooooo</dd>
<dt><code>fooooo fooooo</code></dt>
<dd>fooooo fooooo fooooo fooooo</dd>
</dl>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo fooooo fooooo, <code>fooooo fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo <a href="#id59">`</a>fooooo
&lt;fooooo://fooooo.fooooo.fooooo.fooooo&gt;`fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo, fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <a href="#id61">`</a>fooooo
fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo/fooooo&gt;`fooooo
fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>/fooooo/fooooo/fooooo</code>, fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo+’fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo,
fooooo fooooo’fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo <code>fooooo-fooooo</code> fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<a name="id63"></a>
<h3>fooooo-fooooo</h3>
<p>fooooo.  fooooo <code>fooooo fooooo-fooooo.fooooo</code> fooooo fooooo fooooo <code>fooooo</code>.</p>
<dl>
<dt>fooooo.  fooooo fooooo fooooo fooooo “fooooo fooooo”, fooooo fooooo fooooo</dt>
<dd>
<p>fooooo.  fooooo fooooo fooooo <code>fooooo-fooooo</code> fooooo fooooo fooooo,
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo fooooo-fooooo fooooo</code>
</pre>
<p>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo.fooooo fooooo.</p>
<p>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo=fooooo</code>
</pre>
<p>fooooo.  fooooo fooooo fooooo fooooo fooooo <code>fooooo-fooooo</code> fooooo:</p>
<pre>
<code>fooooo-fooooo fooooo</code>
</pre>
<dl>
<dt>fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo-fooooo</dt>
<dd>fooooo fooooo fooooo fooooo fooooo.</dd>
</dl>
<p>fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
<code>fooooo-fooooo fooooo &amp;</code> fooooo fooooo fooooo’fooooo fooooo fooooo
fooooo (<code>fooooo</code>, <code>fooooo</code>, fooooo <code>fooooo %…</code>) fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo.</p>
</dd>
</dl>
<a name="id64"></a>
<h3>fooooo-fooooo</h3>
<p>fooooo <code>fooooo fooooo.fooooo</code> fooooo fooooo fooooo <code>fooooo</code>.</p>
<a name="id65"></a>
<h2>fooooo fooooo</h2>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<a name="id66"></a>
<h3>fooooo fooooo fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo, fooooo fooooo fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo:</p>
<ul>
<li>fooooo fooooo</li>
<li>fooooo fooooo fooooo fooooo <code>fooooo</code>, <code>fooooo</code>, <code>fooooo</code>,
<code>fooooo</code>, fooooo <code>fooooo</code> fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</li>
<li>fooooo fooooo fooooo-fooooo-fooooo fooooo</li>
<li>
<dl>
<dt>fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo:</dt>
<dd>
<ul>
<li>fooooo fooooo <code>fooooo</code>
</li>
<li>fooooo fooooo-fooooo (fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo/fooooo-fooooo)</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</li>
<li>fooooo fooooo fooooo fooooo fooooo</li>
</ul>
</dd>
</dl>
</li>
</ul>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo. fooooo fooooo fooooo fooooo fooooo
fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo-fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo:</p>
<ol>
<li>
<p>fooooo fooooo fooooo fooooo fooooo://fooooo.fooooo.fooooo/</p>
</li>
<li>
<p>fooooo <em>fooooo</em> -&gt; <em>fooooo fooooo</em> fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
</li>
<li>
<p>fooooo fooooo <em>fooooo</em> fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo</p>
<ul>
<li>fooooo fooooo <em>fooooo</em> fooooo fooooo fooooo fooooo (fooooo:
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo).</li>
<li>fooooo <strong>fooooo</strong> fooooo fooooo fooooo <strong>fooooo</strong> fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo (fooooo, fooooo... fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo).</li>
</ul>
</li>
<li>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo (fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo). fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo fooooo,
fooooo fooooo fooooo:</p>
<ul>
<li>fooooo <code>fooooo + fooooo + fooooo</code> fooooo fooooo fooooo fooooo. fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo <code>fooooo</code>
fooooo fooooo <code>fooooo fooooo</code> fooooo fooooo fooooo. fooooo fooooo fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo: <code>fooooo + ,</code>.</li>
<li>fooooo fooooo fooooo fooooo: <em>fooooo</em> -&gt; <em>fooooo</em> -&gt; <em>fooooo</em>
</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo: fooooo <code>fooooo + ,</code>
</li>
</ul>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<ul>
<li>
<strong>fooooo fooooo fooooo</strong> fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo.</li>
<li>
<strong>fooooo fooooo</strong> fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo (fooooo fooooo fooooo fooooo fooooo).</li>
<li>
<strong>fooooo fooooo</strong> fooooo fooooo fooooo fooooo fooooo fooooo-fooooo
fooooo fooooo (fooooo fooooo fooooo <code>.fooooo</code> fooooo fooooo fooooo fooooo
fooooo fooooo)</li>
<li>
<strong>fooooo fooooo</strong> fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo-fooooo fooooo.</li>
</ul>
<p>fooooo fooooo fooooo fooooo, fooooo fooooo'fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
</li>
<li>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
<code>"fooooo.fooooo": "/fooooo/fooooo/fooooo/fooooo/fooooo"</code> fooooo
fooooo fooooo'fooooo fooooo.</p>
</li>
<li>
<p>fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo), fooooo fooooo'fooooo
fooooo fooooo fooooo fooooo (fooooo fooooo) fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo:</p>
<ul>
<li>
<p>fooooo fooooo: fooooo.fooooo.  <code>fooooo -fooooo fooooo fooooo --fooooo fooooo</code></p>
</li>
<li>
<p>fooooo fooooo fooooo fooooo fooooo fooooo: fooooo.fooooo.
<code>fooooo -fooooo fooooo fooooo --fooooo fooooo fooooo-fooooo</code></p>
</li>
<li>
<p>fooooo <code>fooooo.fooooo.fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo
fooooo fooooo fooooo:</p>
<pre>
<code>$ fooooo fooooo
~/.fooooo/fooooo/fooooo</code>
</pre>
</li>
</ul>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo
fooooo fooooo'fooooo fooooo fooooo fooooo <code>fooooo.fooooo</code> fooooo fooooo <code>[fooooo]</code> fooooo. fooooo
fooooo, fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo fooooo fooooo fooooo fooooo
<code>fooooo-fooooo</code> fooooo fooooo).</p>
</li>
<li>
<p>fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo, fooooo fooooo <strong>fooooo</strong> fooooo fooooo fooooo
fooooo fooooo/fooooo/fooooo fooooo fooooo fooooo fooooo fooooo.</p>
</li>
<li>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo
fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo <code>fooooo</code>, fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo .fooooo fooooo fooooo fooooo 'fooooo fooooo' fooooo 'fooooo fooooo'.</p>
<p>fooooo fooooo fooooo'fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo fooooo'fooooo fooooo fooooo fooooo
<code>fooooo.fooooo</code> fooooo fooooo <code>[fooooo]</code> fooooo <code>[fooooo]</code> fooooo.
fooooo fooooo fooooo fooooo <code>.fooooo.fooooo</code> fooooo fooooo <code>[[fooooo]]</code> fooooo
<code>fooooo.fooooo</code> fooooo fooooo fooooo <code>fooooo.fooooo</code> fooooo fooooo fooooo. fooooo
fooooo'fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo, fooooo.fooooo., fooooo
fooooo/fooooo <code>fooooo.fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo-fooooo</code> fooooo
fooooo.</p>
</li>
<li>
<p>fooooo fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo-fooooo fooooo
fooooo fooooo, fooooo.fooooo., fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
</li>
</ol>
<p>fooooo
+++</p>
<blockquote>
“fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
.fooooo. fooooo’fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo’fooooo fooooo.</blockquote>
<p>– <a href="#id67">`</a>fooooo fooooo &lt;fooooo://fooooo.fooooo/fooooo/fooooo-fooooo-fooooo.fooooo&gt;`fooooo</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo’fooooo fooooo fooooo fooooo
fooooo fooooo’fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo <code>~/.fooooo</code> fooooo fooooo:</p>
<pre>
<code>" fooooo fooooo fooooo.
fooooo fooooo
fooooo fooooo

" fooooo fooooo fooooo fooooo
fooooo fooooo
fooooo fooooo fooooo
fooooo fooooo fooooo

"fooooo fooooo fooooo fooooo
fooooo fooooo " fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo=fooooo " fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo " fooooo fooooo fooooo
fooooo fooooo=fooooo " fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo=fooooo,fooooo,fooooo

" fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo+=fooooo
fooooo fooooo=fooooo

" fooooo fooooo fooooo fooooo.
fooooo fooooo

" fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo

" fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo

" fooooo fooooo fooooo fooooo
fooooo fooooo

" fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo
" fooooo fooooo fooooo.
fooooo fooooo

" fooooo fooooo fooooo fooooo fooooo fooooo fooooo'fooooo fooooo.
fooooo fooooo=fooooo

" fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo=fooooo
fooooo fooooo=fooooo</code>
</pre>
<a name="id69"></a>
<h4>fooooo fooooo</h4>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo’fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo
^^^</p>
<p>fooooo’fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo
fooooo fooooo &lt;fooooo://fooooo.fooooo/fooooo/fooooo&gt;`fooooo. `fooooo
fooooo &lt;fooooo://fooooo.fooooo/fooooo/fooooo#fooooo&gt;`fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo, fooooo, fooooo fooooo fooooo fooooo; fooooo fooooo fooooo
fooooo fooooo fooooo ``fooooo` fooooo:</p>
<pre>
<code>$ fooooo -fooooo ~/.fooooo/fooooo/fooooo-fooooo/fooooo
$ fooooo fooooo fooooo://fooooo.fooooo/fooooo/fooooo.fooooo ~/.fooooo/fooooo/fooooo-fooooo/fooooo/fooooo</code>
</pre>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>~/.fooooo</code> fooooo fooooo
fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<pre>
<code>fooooo fooooo:fooooo = 'fooooo'
fooooo fooooo:fooooo = '[%fooooo%:%fooooo] %%fooooo'
fooooo fooooo:fooooo = {
\   'fooooo': ['fooooo', 'fooooo', 'fooooo'],
\}
fooooo fooooo:fooooo = {
\   'fooooo': ['fooooo', 'fooooo'],
\}
fooooo &lt;fooooo&gt;fooooo :fooooo&lt;fooooo&gt;</code>
</pre>
<a name="id70"></a>
<h5>fooooo</h5>
<p>fooooo fooooo fooooo fooooo,
<a href="#id71">`</a>fooooo &lt;fooooo://fooooo.fooooo/fooooo/fooooo&gt;`fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo’fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo:</p>
<p>fooooo fooooo fooooo <code>~/.fooooo</code> fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<pre>
<code>fooooo fooooo:fooooo = 'fooooo'  " fooooo fooooo fooooo fooooo fooooo
fooooo !fooooo('fooooo:fooooo')
    fooooo &lt;fooooo&gt;fooooo :fooooo fooooo&lt;fooooo&gt;
    fooooo fooooo :fooooo fooooo&lt;fooooo&gt;
fooooo</code>
</pre>
<a name="id73"></a>
<h2>fooooo fooooo</h2>
<p>fooooo'fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo, fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <a href="#id74">`</a>fooooo fooooo
(fooooo)
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo/fooooo&gt;`fooooo
fooooo fooooo fooooo.</p>
<a name="id76"></a>
<h3>fooooo fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo, fooooo
fooooo fooooo <code>fooooo-fooooo</code> (fooooo fooooo fooooo-fooooo fooooo fooooo fooooo-fooooo-fooooo) fooooo
fooooo fooooo fooooo fooooo-fooooo.  fooooo fooooo fooooo fooooo'fooooo <a href="#id77">`</a>fooooo
&lt;fooooo://fooooo.fooooo.fooooo&gt;`fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo
fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo fooooo
<code>fooooo-fooooo/fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo
fooooo</p>
<a name="id79"></a>
<h3>fooooo fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<ul>
<li>
<p>fooooo fooooo (fooooo fooooo) fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo, fooooo, fooooo fooooo; fooooo fooooo fooooo-fooooo fooooo fooooo fooooo; fooooo
fooooo fooooo fooooo fooooo.</p>
<blockquote>
<ul>
<li>
<p>fooooo fooooo fooooo fooooo fooooo <a href="#id80">`</a>fooooo fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo#fooooo.fooooo.fooooo&gt;`fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo -fooooo fooooo

fooooo fooooo -fooooo fooooo</code>
</pre>
</li>
<li>
<p><em>fooooo:</em>  fooooo fooooo fooooo fooooo fooooo fooooo <a href="#id82">`</a>fooooo fooooo fooooo
fooooo fooooo
&lt;fooooo://fooooo.fooooo/fooooo/fooooo&gt;`fooooo, fooooo <a href="#id84">`</a>fooooo fooooo fooooo
fooooo fooooo fooooo
&lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo-fooooo-fooooo/fooooo/fooooo.fooooo#fooooo-fooooo-fooooo&gt;`fooooo,
fooooo fooooo
<a href="#id86">`</a>fooooo fooooo fooooo fooooo fooooo fooooo
&lt;fooooo://fooooo.fooooo/fooooo/fooooo?fooooo=fooooo#fooooo&gt;`fooooo
fooooo fooooo fooooo:</p>
<pre>
<code>fooooo -fooooo fooooo=fooooo

fooooo fooooo fooooo fooooo.fooooo

fooooo fooooo fooooo fooooo.fooooo

fooooo fooooo-fooooo --fooooo --fooooo-fooooo=fooooo

fooooo fooooo-fooooo --fooooo</code>
</pre>
</li>
<li>
<p>fooooo fooooo'fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo:</p>
<pre>
<code>fooooo fooooo -fooooo fooooo //fooooo.fooooo.fooooo.fooooo/fooooo /fooooo/fooooo/fooooo -fooooo \
fooooo=fooooo,fooooo=fooooo,fooooo=fooooo,fooooo=fooooo.fooooo</code>
</pre>
</li>
</ul>
</blockquote>
</li>
<li>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo.  fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo <code>fooooo</code> fooooo fooooo fooooo fooooo.</p>
</li>
<li>
<p>fooooo’fooooo fooooo fooooo'fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo.</p>
</li>
</ul>
<a name="id88"></a>
<h2>fooooo-fooooo fooooo</h2>
<p>fooooo fooooo fooooo fooooo fooooo fooooo-fooooo, fooooo fooooo fooooo fooooo
fooooo-fooooo fooooo fooooo. fooooo fooooo fooooo, fooooo.fooooo., fooooo:</p>
<blockquote>
<ul>
<li>fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo,</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo,</li>
<li>fooooo fooooo fooooo fooooo fooooo.</li>
</ul>
</blockquote>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
<a href="#id89">`</a>fooooo &lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo/fooooo&gt;`fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo,
fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
<a href="#id91">`</a>fooooo &lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo/fooooo/fooooo/fooooo&gt;`fooooo.</p>
<p>fooooo, fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo:</p>
<blockquote>
<ul>
<li>fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo fooooo fooooo fooooo</li>
<li>fooooo fooooo fooooo fooooo fooooo.</li>
</ul>
</blockquote>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<a name="id93"></a>
<h3>fooooo</h3>
<p>fooooo fooooo <code>fooooo&lt;fooooo&gt;</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo-fooooo fooooo: fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo <code>fooooo</code>, fooooo <code>fooooo</code>, fooooo. fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo.</p>
<a name="id94"></a>
<h3>fooooo fooooo</h3>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo. fooooo fooooo fooooo, fooooo
fooooo fooooo fooooo fooooo fooooo, fooooo fooooo, fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo-fooooo fooooo. fooooo, fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo'fooooo fooooo fooooo fooooo
fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo,
fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo,
fooooo fooooo fooooo fooooo fooooo: fooooo fooooo fooooo fooooo, fooooo fooooo
fooooo fooooo, fooooo.</p>
<a name="id95"></a>
<h4>fooooo fooooo fooooo</h4>
<p>fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo://fooooo.fooooo.fooooo/fooooo/+fooooo/fooooo, fooooo <code>fooooo</code> fooooo fooooo
fooooo fooooo fooooo fooooo fooooo (fooooo <code>fooooo</code> fooooo <code>fooooo</code>). fooooo fooooo fooooo, fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo://fooooo.fooooo.fooooo/. fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo fooooo fooooo fooooo
fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo fooooo --fooooo ...</code> fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo <code>fooooo-fooooo fooooo</code>. fooooo'fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo:</p>
<blockquote>
<ul>
<li>
<p>fooooo fooooo fooooo fooooo fooooo <code>fooooo/fooooo</code> fooooo <code>fooooo-fooooo</code> fooooo
<code>fooooo-fooooo</code>:</p>
<pre>
<code>fooooo@fooooo:~$ fooooo fooooo fooooo fooooo/fooooo</code>
</pre>
</li>
<li>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo@fooooo:/fooooo$ fooooo fooooo --fooooo fooooo://fooooo.fooooo.fooooo/fooooo/+fooooo/fooooo /fooooo/fooooo.fooooo</code>
</pre>
</li>
<li>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo <code>--fooooo</code> fooooo:</p>
<pre>
<code>fooooo@fooooo:~$ fooooo /fooooo/fooooo.fooooo
fooooo@fooooo:/fooooo/fooooo.fooooo$ fooooo fooooo --fooooo fooooo.fooooo.fooooo:/fooooo/fooooo/fooooo.fooooo</code>
</pre>
</li>
<li>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo:</p>
<pre>
<code>fooooo@fooooo:~$ fooooo fooooo/fooooo
fooooo@fooooo:fooooo/fooooo$ fooooo fooooo
fooooo@fooooo:fooooo/fooooo$ fooooo fooooo fooooo fooooo/fooooo.fooooo.fooooo-fooooo.fooooo
fooooo@fooooo:fooooo/fooooo$ fooooo fooooo fooooo fooooo</code>
</pre>
</li>
</ul>
</blockquote>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo,
fooooo fooooo fooooo fooooo:</p>
<blockquote>
<ul>
<li>
<code>fooooo/fooooo-fooooo.{fooooo,fooooo,fooooo}</code> -- fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo
fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo.</li>
<li>
<code>fooooo/fooooo.fooooo-fooooo</code> -- fooooo fooooo fooooo <code>fooooo-fooooo-fooooo</code> fooooo fooooo
fooooo fooooo. fooooo fooooo fooooo fooooo fooooo fooooo.</li>
</ul>
</blockquote>
<p>fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo'fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo/</code> (fooooo fooooo fooooo fooooo
fooooo fooooo fooooo <code>fooooo/fooooo.fooooo</code>) fooooo fooooo fooooo fooooo <code>fooooo-fooooo</code>
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<a name="fooooo-fooooo-fooooo-fooooo-fooooo"></a>
<h4>fooooo fooooo <code>fooooo-fooooo-fooooo</code>
</h4>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo.fooooo.,
<code>fooooo-fooooo-fooooo</code>. fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo fooooo.
fooooo'fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo/fooooo.fooooo-fooooo</code> fooooo, fooooo fooooo
fooooo fooooo-fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo
fooooo fooooo <code>fooooo-fooooo-fooooo</code> fooooo <code>fooooo-fooooo-fooooo --fooooo-fooooo=fooooo</code>
fooooo:</p>
<p>fooooo <code>--fooooo-fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo</code>
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo <code>fooooo-fooooo</code> fooooo. fooooo <code>fooooo</code> fooooo, fooooo fooooo fooooo fooooo.</p>
<a name="fooooo-fooooo-fooooo-fooooo-fooooo-fooooo-fooooo-fooooo-fooooo"></a>
<h4>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</h4>
<p>fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo &lt;fooooo://fooooo.fooooo.fooooo/fooooo/fooooo(fooooo)&gt;`fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.
fooooo fooooo fooooo fooooo fooooo ``fooooo.fooooo (fooooo)` fooooo <code>fooooo/fooooo/fooooo</code>.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo/fooooo/fooooo fooooo. fooooo fooooo <code>.fooooo</code> fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo.fooooo.fooooo-fooooo</code>, fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo.fooooo.fooooo</code> fooooo fooooo fooooo
fooooo, fooooo fooooo fooooo <code>fooooo.fooooo.fooooo.fooooo.fooooo.fooooo</code>. fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo fooooo-fooooo
fooooo) fooooo. fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo <code>fooooo-fooooo</code> fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo <code>fooooo-fooooo</code> fooooo, fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo. <code>fooooo-fooooo-fooooo</code> fooooo fooooo-fooooo
fooooo fooooo fooooo fooooo fooooo'fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
<code>--fooooo-fooooo</code> fooooo fooooo fooooo <code>fooooo-fooooo</code> fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo/fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo (fooooo fooooo fooooo fooooo fooooo "fooooo" fooooo fooooo fooooo fooooo). fooooo
fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo/</code> fooooo fooooo fooooo fooooo fooooo
<code>fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo/fooooo</code>. fooooo fooooo,
<code>fooooo-fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo, fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo (<code>fooooo fooooo ..</code>) fooooo'fooooo fooooo fooooo fooooo
fooooo'fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo (fooooo fooooo/fooooo fooooo
fooooo). fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo:</p>
<ul>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo'fooooo fooooo fooooo'fooooo fooooo fooooo fooooo fooooo
fooooo fooooo <code>fooooo/fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo
fooooo fooooo fooooo fooooo fooooo fooooo://fooooo.fooooo.fooooo/fooooo/+fooooo/fooooo,
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo/####</code>.</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo. fooooo fooooo fooooo fooooo fooooo fooooo.</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo/fooooo</code>,
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
<code>fooooo-fooooo-fooooo-fooooo</code> fooooo fooooo <code>fooooo-fooooo</code>.</li>
</ul>
<p>fooooo: fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo/
fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo-fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo. <code>fooooo-fooooo-fooooo-fooooo</code>
fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo fooooo <a href="#id96">`</a>fooooo fooooo fooooo fooooo fooooo fooooo`fooooo fooooo
<a href="#id98">`</a>fooooo fooooo fooooo fooooo fooooo`fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo fooooo.</p>
<a name="fooooo-fooooo-fooooo-fooooo-fooooo-fooooo"></a>
<h4>fooooo fooooo fooooo fooooo fooooo fooooo</h4>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo:</p>
<blockquote>
<ul>
<li>fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
<code>fooooo:</code> fooooo fooooo fooooo fooooo fooooo fooooo.</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo, fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo'fooooo fooooo
fooooo fooooo fooooo <code>fooooo/fooooo</code> fooooo. fooooo fooooo fooooo, fooooo
<code>fooooo-fooooo-fooooo-fooooo</code> fooooo <code>fooooo-fooooo</code> fooooo fooooo fooooo
fooooo fooooo: fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo
fooooo. fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo <a href="#id100">`</a>fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo`fooooo</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo/fooooo</code>; fooooo
fooooo fooooo fooooo fooooo fooooo <code>fooooo-fooooo-fooooo</code> fooooo fooooo
<code>fooooo-fooooo</code>.</li>
<li>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo <code>fooooo-fooooo-fooooo</code>.</li>
</ul>
</blockquote>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>* (fooooo, fooooo: fooooo/fooooo.fooooo.fooooo-fooooo.fooooo) fooooo: fooooo fooooo.fooooo.fooooo-fooooo.fooooo
* fooooo: fooooo: fooooo fooooo fooooo fooooo fooooo fooooo
* fooooo: fooooo fooooo
* (fooooo/fooooo, fooooo: fooooo/fooooo.fooooo.fooooo-fooooo.fooooo) fooooo: fooooo fooooo.fooooo.fooooo-fooooo.fooooo
* fooooo: fooooo: fooooo fooooo fooooo fooooo fooooo fooooo
* fooooo: fooooo fooooo
* fooooo: fooooo fooooo
* (fooooo: fooooo/fooooo.fooooo.fooooo-fooooo.fooooo, fooooo/fooooo/fooooo/fooooo-fooooo) fooooo fooooo-fooooo fooooo fooooo.fooooo.fooooo-fooooo.fooooo fooooo fooooo/fooooo/fooooo-fooooo
* ...</code>
</pre>
<p>fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo fooooo. fooooo fooooo
fooooo fooooo-fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo (<code>fooooo.fooooo.fooooo.fooooo</code>,
<code>fooooo.fooooo.fooooo.fooooo</code>, <code>fooooo.fooooo</code>, fooooo.). fooooo, fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo. fooooo, fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo-fooooo.</p>
<p>fooooo, fooooo fooooo fooooo-fooooo fooooo fooooo fooooo fooooo fooooo <code>fooooo-fooooo</code>,
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<p>fooooo fooooo fooooo <code>--fooooo-fooooo</code> fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo.</p>
<a name="id102"></a>
<h4>fooooo fooooo fooooo fooooo fooooo</h4>
<p>fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo fooooo <code>fooooo.fooooo.fooooo-fooooo</code> (fooooo
fooooo: <code>fooooo.fooooo.fooooo-fooooo</code>) fooooo fooooo fooooo <code>fooooo.fooooo.fooooo-fooooo</code>, fooooo
fooooo fooooo fooooo fooooo.</p>
<p>fooooo. fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>fooooo fooooo -fooooo fooooo-fooooo-fooooo-fooooo-fooooo.fooooo.fooooo fooooo</code>
</pre>
<p>fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo:</p>
<pre>
<code>  fooooo fooooo -fooooo --fooooo &lt;fooooo fooooo&gt; &lt;fooooo fooooo&gt;

fooooo.fooooo.::

  fooooo fooooo -fooooo --fooooo fooooo/fooooo.fooooo.fooooo-fooooo fooooo/fooooo.fooooo.fooooo-fooooo

fooooo fooooo fooooo fooooo fooooo fooooo (``fooooo: fooooo fooooo``) fooooo
fooooo fooooo fooooo fooooo-fooooo fooooo fooooo fooooo (``fooooo: fooooo:
fooooo``) fooooo fooooo fooooo fooooo fooooo - fooooo fooooo fooooo fooooo fooooo fooooo.</code>
</pre>
<dl>
<dt>fooooo. fooooo fooooo fooooo fooooo fooooo <code>fooooo</code> fooooo fooooo, fooooo-fooooo fooooo fooooo</dt>
<dd>fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo, fooooo fooooo
<code>fooooo-fooooo-fooooo-fooooo</code> fooooo fooooo fooooo fooooo fooooo <a href="#id103">`</a>fooooo
fooooo fooooo fooooo fooooo fooooo`fooooo</dd>
<dt>fooooo. fooooo <code>fooooo-fooooo-fooooo</code>, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>fooooo fooooo <a href="#id105">`</a>fooooo fooooo fooooo fooooo fooooo fooooo`fooooo.</dd>
<dt>fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo, fooooo fooooo fooooo fooooo fooooo fooooo</dt>
<dd>
<p>fooooo fooooo fooooo fooooo fooooo. fooooo fooooo fooooo fooooo fooooo fooooo fooooo
<a href="#id107">`</a>fooooo fooooo fooooo`fooooo, fooooo fooooo fooooo fooooo fooooo fooooo fooooo fooooo
fooooo fooooo:</p>
<pre>
<code>fooooo fooooo fooooo
fooooo fooooo --fooooo fooooo-fooooo-fooooo-fooooo.fooooo.fooooo
fooooo fooooo --fooooo --fooooo-fooooo fooooo fooooo</code>
</pre>
</dd>
</dl>
<a name="id109"></a>
<h2>fooooo fooooo fooooo</h2>
<p>fooooo fooooo fooooo <code>fooooo/fooooo.fooooo</code> fooooo fooooo <code>fooooo-fooooo</code> fooooo
fooooo.</p>